*{margin: 0; padding: 0;}
html, body{}


/***********Header***********/
header{
	background: #3e4753;
	color: #fff;
}

.navbar-expand-lg .navbar-collapse {
   justify-content: flex-end;
}
.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}
.navbar-light .navbar-nav .nav-link.active {
    color: rgb(51, 165, 218);
}
.navbar-light .navbar-nav .nav-link:hover{
	color: rgb(51, 165, 218); -webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;
}
.info{
	display: block
}
.col-info{text-align:right;}
.col-info li {
    list-style: none;
    display: inline-block;
}
.col-info li a{
	color:#fff;
	font-size:12px;
}
.col-info li a:hover{
	color:#fff;
}
p a{color:#33a5da; text-decoration: underline}
p a:hover{
	 -webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}

/***********Header***********/

/***********Picture***********/
.picture{position: relative;}
.heading{
	padding-top:25px;
	padding-bottom:40px;
	position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); width: 100%; height: auto; flex-shrink: 0;
}

.heading h1{
	color:#fff;
	font-size:60px; 
	margin-bottom:0;
	font-weight:600;
}

/***********Picture***********/

/***********Content***********/
.mdlsection hr{border-top:1px dotted #e4e9f0;}
.sub-head{padding-top:20px; color: #33a5da;}
.sub-head h2{font-size:50px;}
.project{padding-bottom: 30px; padding-top:8px;}
.project h3{color: #33a5da;font-size:33px; font-weight:500;}
.project a{color: #000;font-size: 1.25rem;font-weight: 300;}
.project a:hover{color: #33a5da; -webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
.project li {list-style-position: inside;}
.employers{padding-bottom: 50px;}
.employers p{font-size: 1.25rem;font-weight: 300;}
.employers h3{color: #33a5da; font-size:50px; margin-bottom:0;}
.employers li{list-style-position: inside;font-size: 1.25rem;font-weight: 300;}
.seekers{padding-bottom: 50px;}
.seekers p{font-size: 1.25rem;font-weight: 300;}
.seekers h3{color: #33a5da;	font-size: 50px;}
.seekers li{list-style-position: inside;font-size: 1.25rem;font-weight: 300;}
.data{padding-bottom: 70px;}
.data p{font-size: 1.25rem;font-weight: 300;}
.data h3{color: #33a5da; font-size:50px;}
.data li{list-style-position: inside;font-size: 1.25rem;font-weight: 300;}
.data li a{
	color: #33a5da;
}
.data li a:hover{
	color: #33a5da;
}
.btn-primary{
	background-image: linear-gradient (#08c, #04c);
}
/***********Content***********/


/***********Footer***********/
footer{
	padding-top: 30px;
	background: #3e4753;
	color: #e4e4e4;
}

footer h4{
	font-size: 24.5px;
}
.bar{padding-bottom:25px;}
footer p{
	color: #fff;
	font-size: 14px;
}
footer p a{
	color: #fff;
}
footer p a:hover{
	color: #33a5da; -webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;
}
footer li{
	list-style: none;
	display: block;
}
footer a{
	font-size: 14px;
	color: #fff;
}
footer li a:hover{
	color: #33a5da; -webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;
}
footer .social li{
	display: inline-flex;
}
footer .social li a{width:28px;height:28px;display:block;background-position:0 0;background-repeat:no-repeat;transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;}
.social li:hover a{background-position:0 -38px;}
.social_facebook{background:url(../images/facebook.png) no-repeat;}
.social_linkedin{background:url(../images/linkedin.png) no-repeat;}
.social_youtube{background:url(../images/youtube.png) no-repeat;}
.social_instagram{background:url(../images/instagram.png) no-repeat;}

.bar .headingnew, .headingnew{border-bottom:1px dotted #e4e9f0; display:block; margin-bottom:20px;}
.bar .headingnew h4{border-bottom:2px solid #33a5da; margin:0 0 -2px 0; display:inline-block;}


#copyright{
	border-top: 1px solid #777;
	padding: 5px 10px;
	font-size: 14px; 
}
#copyright p a{color:#33a5da; font-size: 14px;}
#copyright p a:hover{color:#fff;}
/***********Footer***********/


@media only screen and (min-width:969px) and (max-width:1024px){}

@media screen and (max-width:1023px) {
	.navbar-light .navbar-toggler{background:#33a5da;}
	.navbar-light .navbar-toggler-icon{background:url(../images/menuicon.png) no-repeat !important;}
	.navbar-toggler{padding:10px .75rem 2px;}
	.navbar-toggler-icon span{display:none;}
	.heading{padding-top: 15px; padding-bottom: 19px;}
.heading h1 {font-size: 40px;}
.sub-head h2{font-size:40px;}
}

@media screen and (max-width:767px) {
.navbar-toggler-icon span{display:none;}
.heading h1{font-size:40px;}
.sub-head h2{font-size:24px;}
.heading{padding-top: 15px; padding-bottom: 19px;}
.heading h1 {font-size: 30px;}
.mdlsection .project h3{font-size: 20px}
.mdlsection .project li a{font-size: 15px}
.mdlsection h3{font-size: 24px}
.mdlsection p{font-size:15px}
.mdlsection li{font-size:15px}

footer .row{flex-direction: column;}
}

@media screen and (max-width:479px) {
.navbar-light .navbar-toggler{width:100%; margin-top:8px;}
.navbar-toggler-icon{float:left;}
.navbar-toggler-icon span{display:block; padding-left:38px; color:#fff;}
.heading {padding-top: 5px; padding-bottom: 5px;}
.heading h1 {font-size: 25px;}

footer .row{flex-direction: column;}
}

